body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin: 0;
    padding: 0;
}

.page {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0 8rem;
}

.container {
    display: block;
    margin: auto;
    max-width: 1280px;
}

/* Navbar */
.navbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 8rem 0.5rem;
    max-width: 1280px;
    margin: auto;
}

.wordmark {
    font-weight: 200;
}

.logo {
    width: 18vw;
}

.menu {
    margin-top: 1.75rem;
}

.menu a {
    padding-left: 2rem;
    /* font-size: 0.8rem; */
}

.menu a:hover {
    color: #bababa;
}

.menu a:last-child {
    color: #bababa;
}

.menu a:last-child:hover {
    color: #000;
}

/* Pages */
.main-img {
    width: 100%;
}

.description {
  display: block;
  margin: auto;
  padding: 4rem 6rem;
  text-align: center;
  font-size: 1.4rem;
}
